<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>首页</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/jquery.jscrollpane.css">
</head>
<body class="index-page">
<div class="container"></div>
<div class="header">
  <img src="images/header/control_center.png" alt="">
</div>
<div class="circle-1">
  <img src="images/circle_1.png" alt="">
</div>
<div class="circle-2">
  <img src="images/circle_2.png" alt="">
</div>
<div class="footer">
  <img src="images/footer.png" alt="">
</div>
<div class="content-box">
  <div class="con">
    <div id="wrapper" class="wrapper">
      <ul class="clearfix">
        <li>
          <a href="court.html">
            <img src="images/index/1.png" alt="">
            <span class="name">法院信息</span>
          </a>
        </li>
        <li>
          <a href="live.html">
            <img src="images/index/2.png" alt="">
            <span class="name">科技法庭</span>
          </a>
        </li>
        <li>
          <a href="judgement.html">
            <img src="images/index/3.png" alt="">
            <span class="name">审判数据</span>
          </a>
        </li>
        <li>
          <a href="enforce.html">
            <img src="images/index/4.png" alt="">
            <span class="name">执行数据</span>
          </a>
        </li>
        <li>
          <a href="https://150.35.118.248:2443/ecms/web/login.html" target="_blank">
            <img src="images/index/5.png" alt="">
            <span class="name">指挥系统</span>
          </a>
        </li>
        <li>
          <a href="http://150.35.118.243/WPMS/" target="_blank">
          <img src="images/index/6.png" alt="">
          <span class="name">安全感知</span>
          </a>
        </li>
        <li class="J_vedio">
          <img src="images/index/7.png" alt="">
          <span class="name">视频会议</span>
        </li>
        <li>
          <a href="user.html">
            <img src="images/index/8.png" alt="">
            <span class="name">人员信息</span>
          </a>
        </li>
        <li class="J_building">
          <a href="javascript:;">
            <img src="images/index/9.png" alt="">
            <span class="name">网络管理</span>
          </a>
        </li>
        <li class="J_building">
          <img src="images/index/10.png" alt="">
          <span class="name">人群布控</span>
        </li>
        <li>
          <a href="http://192.1.32.145:8081/ssoserver//login?service=http://192.1.32.8/ld/cas"  target="_blank">
            <img src="images/index/11.png" alt="">
            <span class="name">执行管理</span>
          </a>
        </li>
        <li>
          <a href="http://150.0.2.142:8090/zxxt/login.jsp?sid=2"  target="_blank">
            <img src="images/index/12.png" alt="">
            <span class="name">执案流程</span>
          </a>
        </li>
        <li class="J_building">
          <img src="images/index/13.png" alt="">
          <span class="name">资产信息</span>
        </li>
        <li>
          <a href="人员来访.html">
            <img src="images/index/14.png" alt="">
            <span class="name">人员来访</span>
          </a>
        </li>
        <li class="J_building">
          <img src="images/index/15.png" alt="">
          <span class="name">考勤信息</span>
        </li>
        <li class="J_building">
          <img src="images/index/16.png" alt="">
          <span class="name">车辆门禁</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="dialog dialog-build">
  <div class="dialog-modal"></div>
  <div class="dialog-content"></div>
  <div class="dialog-close J_dialog_close"></div>
</div>
<!-- 监控系统弹窗 -->
<div class="popup popup-monitor">
  <div class="popup-modal"></div>
  <div class="popup-content">
    <ul class="monitor-list">
      <li class="m1">
        <a href="javascript:;">&nbsp;</a>
      </li>
      <li class="m2">
        <a href="javascript:;">&nbsp;</a>
      </li>
    </ul>
  </div>
  <div class="popup-close J_modal_close"></div>
</div>
<!-- 视频会议弹窗 -->
<div class="popup popup-vedio">
  <div class="popup-modal"></div>
  <div class="popup-content">
    <div class="vedio-content">
      <img src="images/index/m_circle.png" alt="">
      <div class="tbox">
        <h4>正在缓冲</h4>
        <span>请稍等.....</span> <br>
        <span class="count">将在<em id="J_countdown">5</em>秒 跳到视频会议界面</span>
      </div>
    </div>
  </div>
  <div class="popup-close J_countdown_close"></div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.jscrollpane.min.js"></script>
<script>
    $("#wrapper").jScrollPane({
                                  showArrows: true
                              })
    // 正在建设
    $('.J_building').click(function(){
        $('.dialog-build').show()
    })
    $('.J_dialog_close').click(function(){
        $('.dialog-build').hide()
    })
    // 监控系统
    $('.J_monitor').click(function(){
        $('.popup-monitor').show()
    })
    $('.J_modal_close').click(function(){
        $(this).parents('.popup').hide()
    })
    // 视频会议
    var timer = null;
    var countdownId = $('#J_countdown');
    $('.J_vedio').click(function(){
        $('.popup-vedio').show()
        countdownId.html(5)
        countdown(5)
    })
    function countdown(num){
        if(num <= 0){
            return location.href = 'index.html'
        }
        timer = setTimeout(function(){
            countdownId.html(--num)
            countdown(num)
        }, 1000)
    }
    $('.J_countdown_close').click(function(){
        $(this).parents('.popup').hide()
        clearTimeout(timer)
        timer = null
    })
</script>
</body>
</html>